PurgeJigNotificationSystem/Microsoft.Flow/flows/b4b271e1-a245-4b4e-bb60-9020c2942a0c/definition.json
{"name":"80c43671-e0a1-4038-8320-b3be0dd5b94a","id":"/providers/Microsoft.Flow/flows/80c43671-e0a1-4038-8320-b3be0dd5b94a","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Purgejig email to teams automation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4972d1cb-c145-4b2c-b882-df69ca8135c0","type":"User","tenantId":"0979d01e-5ff0-4f1b-acc8-638a30d2ae18"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-08-25T11:43:20.2099446Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"OnNewEmailV3"},"Id::AAMkAGQ2MjIwZjgzLTQ4MTEtNDYxYS1hNzRhLWY0YTBiMzgwMTRhMQAuAAAAAAAj19ytCFBzRKhGr76ffUI7AQAlewGwU0_bSYx4qY47sWjnAAAGY9zjAAA=":"FAT lab notifications","operationMetadataId":"18524880-267a-4242-a3f1-22efae3f3ebf","Id::AAMkADQxOWJjZTI1LTY0NmEtNDEwYS1iMDc4LTc3M2U3YzA4ZTMxNwAuAAAAAABi8SvVCef4R7bAAjIZClfnAQC3OlT5_McOQbmaoIaSPfU-AAMQs8aKAAA=":"Purge Jig notifications","Id::AAMkAGQ2MjIwZjgzLTQ4MTEtNDYxYS1hNzRhLWY0YTBiMzgwMTRhMQAuAAAAAAAj19ytCFBzRKhGr76ffUI7AQAlewGwU0_bSYx4qY47sWjnAAAGY9zzAAA=":"Purge Jig notifications"},"type":"ApiConnectionNotification","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/office365"}},"fetch":{"queries":{"folderPath":"Id::AAMkAGQ2MjIwZjgzLTQ4MTEtNDYxYS1hNzRhLWY0YTBiMzgwMTRhMQAuAAAAAAAj19ytCFBzRKhGr76ffUI7AQAlewGwU0_bSYx4qY47sWjnAAAGY9zzAAA=","importance":"Any","fetchOnlyWithAttachment":false,"includeAttachments":true,"subjectFilter":""},"pathTemplate":{"template":"/v3/Mail/OnNewEmail"},"method":"get"},"subscribe":{"queries":{"folderPath":"Id::AAMkAGQ2MjIwZjgzLTQ4MTEtNDYxYS1hNzRhLWY0YTBiMzgwMTRhMQAuAAAAAAAj19ytCFBzRKhGr76ffUI7AQAlewGwU0_bSYx4qY47sWjnAAAGY9zzAAA=","importance":"Any","fetchOnlyWithAttachment":false},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"pathTemplate":{"template":"/GraphMailSubscriptionPoke/$subscriptions"},"method":"post"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Condition_2":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_16":{"runAfter":{},"metadata":{"operationMetadataId":"7d6426d0-e2b0-437e-8d54-319044353088","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourOrange')}\"\n      },\n    \"body\": [\n         {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        }\n        \n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_4":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_2":{"runAfter":{},"metadata":{"operationMetadataId":"7c4b1b82-38fe-46e9-938f-44008ee009e0","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourGreen')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                           \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },                        \n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        }\n                    ],\n                    \"width\": 66\n                }\n            ]\n        }\n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_5":{"actions":{"Post_adaptive_card_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"fcc8b688-14ad-470e-b7db-c755f87b3d8f","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourRed')}\"\n      },\n    \"body\": [\n         {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        }\n        \n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Post_card_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"ae2ce3ca-0d41-4115-87c2-09573a6a6c73","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"[Error status unknown] - @{triggerBody()?['subject']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['body']}\",\n            \"wrap\": true\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@triggerBody()?['subject']","bad"]},"metadata":{"operationMetadataId":"818d4575-1a9a-48d6-8a97-4c625ddf8f93"},"type":"If"}}},"expression":{"contains":["@triggerBody()?['subject']","good"]},"metadata":{"operationMetadataId":"6f705b9c-20b7-4774-bbea-c641b0a4c39e"},"type":"If"}}},"expression":{"not":{"equals":["@triggerBody()?['from']","purgejig.bot@emss.co.za"]}},"metadata":{"operationMetadataId":"c925aa5f-966a-4aa6-8e89-0d1b45054b2b"},"type":"If"}},"runAfter":{"Initialize_variable_7":["Succeeded"]},"else":{"actions":{"Apply_to_each_3":{"foreach":"@triggerBody()?['attachments']","actions":{"Condition_3":{"actions":{"imgBytes":{"runAfter":{},"metadata":{"operationMetadataId":"3e81f277-c016-4e15-a26e-7ca8b4675a33"},"type":"Compose","inputs":"@items('Apply_to_each_3')?['contentBytes']"},"imgURI":{"runAfter":{"imgBytes":["Succeeded"]},"metadata":{"operationMetadataId":"a9b3c67a-0923-4770-884e-840678953883"},"type":"Compose","inputs":"@dataUri(base64ToBinary(outputs('imgBytes')))"},"Condition_16":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_17":{"runAfter":{},"metadata":{"operationMetadataId":"7e6b14db-ec04-4d7f-82ae-c8033588b9a8","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n        \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourBlue')}\"\n      },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"@{outputs('imgURI')}\",\n                            \"horizontalAlignment\": \"Center\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{"imgURI":["Succeeded"]},"else":{"actions":{"Condition_8":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_7":{"runAfter":{},"metadata":{"operationMetadataId":"6a8d1f45-187c-4918-bf9f-7af18bccd028","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourRed')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n        \n                    ],\n                    \"width\": 66\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"@{outputs('imgURI')}\",\n                            \"horizontalAlignment\": \"Center\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_9":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_6":{"runAfter":{},"metadata":{"operationMetadataId":"6f5b8e33-335d-4280-be05-e5d5c01fa7d8","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourGreen')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                           \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },                        \n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        }\n                    ],\n                    \"width\": 66\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"image\",\n                            \"url\": \"@{outputs('imgURI')}\",\n                            \"horizontalAlignment\": \"Center\"\n                        }\n                    ]\n                }\n            ]\n        }\n    ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Post_card_in_a_chat_or_channel_2":{"runAfter":{},"metadata":{"operationMetadataId":"ce56f721-e578-46e7-a4c9-efc6461c2911","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Message Channel Identifier Unknown\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Please refer to Outlook email stream to debug this error.\",\n            \"wrap\": true\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@triggerBody()?['subject']","good"]},"metadata":{"operationMetadataId":"da4d018e-d79e-4e00-ad94-6d8c6d75e49e"},"type":"If"}}},"expression":{"contains":["@triggerBody()?['subject']","bad"]},"metadata":{"operationMetadataId":"420c1b1f-9627-44e1-ae37-67a313c1cac8"},"type":"If"}}},"expression":{"not":{"equals":["@triggerBody()?['from']","purgejig.bot@emss.co.za"]}},"metadata":{"operationMetadataId":"6c56a0bf-cf4a-4572-8376-c576ee411413"},"type":"If"}},"runAfter":{},"else":{"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"ce9fe3d5-e9a4-4e63-b82b-bdc9e0b53fa7","flowSystemMetadata":{"swaggerOperationId":"CreateFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/onedriveforbusiness"}},"method":"post","body":"@base64ToBinary(items('Apply_to_each_3')?['contentBytes'])","path":"/datasets/default/files","queries":{"folderPath":"/EmailAttachments","name":"@items('Apply_to_each_3')?['name']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_share_link":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"9cea22dd-5ef8-408e-a922-eac0c977a2c0","flowSystemMetadata":{"swaggerOperationId":"CreateShareLinkV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_onedriveforbusiness']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/onedriveforbusiness"}},"method":"post","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Create_file')?['Id']))}/shareV2","queries":{"type":"View","scope":"Organization"},"authentication":"@parameters('$authentication')"}},"Condition_17":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_18":{"runAfter":{},"metadata":{"operationMetadataId":"c1766161-d554-4ee6-9be7-0ee46ec57b2c","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourOrange')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n                    ]\n                }\n            ]\n        },\n        \n    ],\n    \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Log file\",\n      \"url\": \"@{body('Create_share_link')?['WebUrl']}\"\n    }\n  ]\n}      "},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_share_link":["Succeeded"]},"else":{"actions":{"Condition_12":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_11":{"runAfter":{},"metadata":{"operationMetadataId":"3aa1f19e-424b-4166-8dc1-bafd1259793b","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('errorBack')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                      {\n                        \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error code:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"               \n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Medium\",\n                             \"spacing\": \"None\",\n                             \"Weight\": \"italic\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error description:\",\n                             \"size\": \"Large\",\n                             \"spacing\": \"default\",\n                             \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Small\",\n                             \"spacing\": \"None\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"Error resolution:\",\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                            \"horizontalAlignment\": \"Left\",\n                             \"spacing\": \"None\",\n                            \"size\": \"Small\",\n                            \"isSubtle\": true,\n                             \"wrap\": true\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[4]}\",\n                            \"wrap\": true,\n                            \"spacing\": \"default\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"horizontalAlignment\": \"Left\"\n                        }\n                    ]\n                }\n            ]\n        },\n        \n    ],\n    \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Log file\",\n      \"url\": \"@{body('Create_share_link')?['WebUrl']}\"\n    }\n  ]\n}      "},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Condition_13":{"actions":{"Post_adaptive_card_in_a_chat_or_channel_12":{"runAfter":{},"metadata":{"operationMetadataId":"8c0a4f4a-ee5b-4471-be38-21f3ab763319","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\",\n    \"backgroundImage\": {\n        \"url\": \"@{variables('colourGreen')}\"\n    },\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[0]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[1]}\",\n                             \"spacing\": \"large\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                           \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },                        \n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[2]}\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"See logs FMI.\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        },\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"@{variables('bodySplitArr')[3]}\",\n                             \"spacing\": \"large\",\n                            \"wrap\": true,\n                            \"horizontalAlignment\": \"Left\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\"\n                        }\n                    ],\n                    \"width\": 66\n                }\n            ]\n        },\n        \n    ],\n    \"actions\": [\n    {\n      \"type\": \"Action.OpenUrl\",\n      \"title\": \"Log file\",\n      \"url\": \"@{body('Create_share_link')?['WebUrl']}\"\n    }\n  ]\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Post_card_in_a_chat_or_channel_3":{"runAfter":{},"metadata":{"operationMetadataId":"a64612b9-a7c6-4ed3-b827-ed6ffe56a34f","flowSystemMetadata":{"swaggerOperationId":"PostCardToConversation"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-002-westeurope-01.azure-apim.net/apim/teams"}},"method":"post","body":{"recipient":"19:b20ff3afb8aa49bdb78af2b253f7ad24@thread.v2","messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"Message Channel Identifier Unknown\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Please refer to Outlook email stream to debug this error.\",\n            \"wrap\": true\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}"},"path":"/v1.0/teams/conversation/adaptivecard/poster/Flow bot/location/@{encodeURIComponent('Group chat')}","authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@triggerBody()?['subject']","good"]},"metadata":{"operationMetadataId":"1d9d125f-ff21-4a1b-832a-caee3d7e7a82"},"type":"If"}}},"expression":{"contains":["@triggerBody()?['subject']","bad"]},"metadata":{"operationMetadataId":"7e1a31b3-ddcd-4b66-946b-5ae1c132f3da"},"type":"If"}}},"expression":{"not":{"equals":["@triggerBody()?['from']","purgejig.bot@emss.co.za"]}},"metadata":{"operationMetadataId":"f1b6d690-8f95-4f5e-a3b3-df999eb50a5d"},"type":"If"}}},"expression":{"and":[{"less":["@items('Apply_to_each_3')?['size']",15000]},{"contains":["@items('Apply_to_each_3')?['name']",".png"]}]},"metadata":{"operationMetadataId":"4e36b8ce-1ec2-405b-b65d-1878fc7ca97c"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"f9239f18-43b9-4dc3-a92c-6f824a31cf19"},"type":"Foreach"}}},"expression":"@not(equals(triggerBody()?['hasAttachments'], true))","metadata":{"operationMetadataId":"383ba961-639e-4451-9cd5-caea9e16aea8"},"type":"If"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"d0a54531-f6de-4f04-b851-1fe99ceb4a72"},"type":"InitializeVariable","inputs":{"variables":[{"name":"bodySplitArr","type":"array","value":"@split(triggerBody()?['body'],';') "}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"815a46d6-43e2-49ff-a370-b510dcca0b9b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"subjectSplitArr","type":"array","value":"@split(triggerBody()?['subject'],' ')"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"7624fd4f-bf8c-480e-9128-5a65ba5b8a0e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"colourGreen","type":"string","value":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAADXCAYAAAAjt5dlAAAACXBIWXMAAAPnAAAD5wHDtfxxAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAACEFJREFUeJzt3WuMXHUdx+Hf7LW73d7otqWAQEov4WIqICACCgIaTU0kmKjR2BhiiIhGIDEGNVEjRBMivMDACyJGIwSVgCIKXkKgKJhgREqKYCltUwple9tetzOzO77QHBkWOrXdn2dnfZ5X8z/p2XzfNJ/s7M7ZSqwebAQAJOkoewAAU5vQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQKqusgcArV04/bxYOfvjUY96REQ8N/JCfG/bbSWvgkMjNNAGHtv7RFw3+PlYMePSiIjYN7Y/to5tjx/tuKfkZdCat86gDYzFWFy5+dpYc+D5iIjo7+iLb837SpzWe3LJy6A1oYE2sbn2anxty41xoFGNiIgTeo6LmxZ+IypRKXkZHJzQQBu5b9ev497hB4rzpQMXxhcHP1viImhNaKDNfHnLN2NjbVNERHRER3xp7pUxt+uoklfBWxMaaDMv116Je4bvL84ndh8f1w9eU+IiODihgTZ042u3xLrqhuL8sVkfiWO6jy5xEbw1oYE2tHNsOO7b9WBxPrb76Lj6qCtKXARvTWigTd2+/Yexc2y4OH9w4JLorHSWuAjenNDAJLCkZ1H8/Pg74/klT8bjix6MT83+aMt71lZfikf2PF6cl/edGpfPXJE5Ew6L0EDJKlGJO469JS6fuSKW9p4U5/WfHbcu/G5cNP38lvc+uvdPTV/n4oH3ZE6FwyI0ULJlvYvj3f1nNV2b1TkzPjzzAy3vvWvnvbF9dGdxflffO32Ak0lHaKBku0Z3R7VRG3d9ZOxAy3uHRrfFX/Y/XZxP6V0aZ/edPqH74EgJDZRsc/3V+NXu3zZd21DbFD/Y8ZNDun/NgReK112Vrrhg+rkTug+OlKc3wyTw6U1XxYvV9bG879QYqm2Lm7fdFmurLx3Svc+NvNB0XtpzUsZEOGxCA5PAgUY1rt/y7cO69w/7VkW9UY+uyr/+Oy/qOWEip8ER89YZtLn11Y0xVN9WnBd0zytxDYwnNNDm6o16vDa6tTjP75wXvZWeEhdBM6GBKWDr676jmds5JxZ2LShxDTQTGpgC9jdGitedlc6Y0zm7xDXQTGhgCnjjZ26EhslEaGAKqEXzBz5ndswoaQmMJzQwBXRHd9N5T2NvSUtgPKGBKWBaR2/TeXt9e0lLYDyhgSmgrzKteD3aGI0dr/s7NVA2oYEpYH7XYPF6++iOeKW2pcQ10ExooM11V7pjftd/ngbw2ujWGGm0fvIz/K8IDbS5pT2LYm7nnOK8pTZU4hoYT2igzV088N7igZoRES9W15c3Bt6E0MAk0nMYzyhb1tv8ZwH+Xv3HRM2BCSE0MAmcNu3kePjEn8XGZU/H6sWr4so5Kw/53lN6lxWv6416rNr7ZMZEOGyVWD3YKHsE/D/riI54bNEDcV7/2cW1PWN747KNK+P3ex496L3Hdx8Xzy5ZFTM6BiIi4m8jz8Y71l6Uuhf+W76jgZIt610c5/Sd0XRtoGN6fGjGJS3v/cTsy4rIREQ8se+pCd8HR0pooGTDo7ui2qiNu/7GB2W+mYumn1+8HouxeHjPIxO6DSaC0EDJNtdfjV/ufqjp2vraxrhjx48Pet9ZfafHBf3nFuen9j8dv9j1m5SNcCS6Wv8TINvKTVfH2gPrYnnfaTFU3xY3b7091lU3HPSeK+Z8Mvo7+orzg7t/F43wI1cmH78MAG3oxO63xZMnPRQLuuZHRMS66oY4Y+37YnhsV8nLYDxvnUEbun7eNUVkIiLu3HmXyDBpCQ20mTP7lsfls1YU52dG1sRNQ98vcREcnNBAG6lEJW5Y8NU46t/PNqs2anHD0M0eosmkJjTQRq4bvCreP3Bhcb57+N746fD95Q2CQyA00CbO6Tszrh38XFSiEhERfx1ZHde88vWSV0FrQgNtYFbHzLj1mO/Ewq4FERGxsfZyfGbTF2LH6M6Sl0Frfr0Z2sDbp50cF/SfW3xO5pmRNfHHfX8ueRUcGqEBIJW3zgBIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkEpoAEglNACkEhoAUgkNAKmEBoBUQgNAKqEBIJXQAJBKaABIJTQApBIaAFIJDQCphAaAVEIDQCqhASCV0ACQSmgASCU0AKQSGgBSCQ0AqYQGgFRCA0AqoQEgldAAkOqffPRnhA0p+1gAAAAASUVORK5CYII="}]},"description":"data URI for the colour purple"},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"8a8db371-e419-482a-a8ad-60601e91437f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"colourBlue","type":"string","value":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAADXCAIAAACs1QAyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAK+SURBVHhe7dSBDABADACx9zd4tCmMYh6XJmXo+7MAAToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAwuwBADeafctFisEAAAAASUVORK5CYII="}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"1b35bf9f-c601-4b24-b7e1-dd9d620c6024"},"type":"InitializeVariable","inputs":{"variables":[{"name":"colourOrange","type":"string","value":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAADXCAIAAACs1QAyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAK8SURBVHhe7dQBDQAwCMCwm0QcarmPpUk19N0OQIDOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZEKEzIEJnQITOgAidARE6AyJ0BkToDIjQGRChMyBCZ0CEzoAInQEROgMidAZE6AyI0BkQoTMgQmdAhM6ACJ0BEToDInQGROgMiNAZkLDzAXatRHh+Uz0gAAAAAElFTkSuQmCC"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"d1cc6d29-ff0a-4b9b-a8d9-a8d9d2763d17"},"type":"InitializeVariable","inputs":{"variables":[{"name":"colourRed","type":"string","value":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAADXAQMAAAAZeQUmAAAACXBIWXMAABJ0AAASdAHeZh94AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAANQTFRF/wAAGeIJNwAAACJJREFUGBntwYEAAAAAw6D7U0/hANUAAAAAAAAAAAAAAH4BLIMAAahZEloAAAAASUVORK5CYII="}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"410ee302-eb5c-4c6a-b04f-558936ac77fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"errorBack","type":"string","value":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZoAAADXCAYAAAAjt5dlAAAACXBIWXMAAAPnAAAD5wHDtfxxAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAB1ZJREFUeJzt3UuInXcdx+HvJJkmMdEwTWrTtFqbmgs1NVCjltYakDRgaxV1UxdaFaSIIBZ0obhxJUpqcaGUUi8LxYVQpN7BkJZGkbaRkoiSOo1tStNqYm7mOrmMi5NhzpzMTIOdn+97xudZzf/lfeG3mMOH897OQLaMjgYAisxpegAAZjehAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFLzmh4AmDkL5iXf2pgMzu2sB5J8YVty7EyjY/F/TmhgFnno9uTjN3T+Pj+afPkJkaF5Tp3BLPH5m5K7146vf/ps8s2nmpsHxggNzALXLUm+uCEZvPCJ3n0w+dzvmp0JxggNzAJbNiZven3n77Pnk288lfzrVLMzwRihgT73sbXJB68fX/9iT/KDPzc3D/QSGuhjA0k+uz6Zd+GTfOJscv/TjY4EFxEa6GOfWpfcevX4+tHhZPtLzc0DkxEa6GN3r03mDHT+HjmXfPeZZueByQgN9Kl3XJm8p+vbzPZ9yRO+zdBCHtiEFlg1lHz9tuTGZcn+E8mDO5Mf/WX6Yz75tmRh1yf4l3tqZ4T/ltBAwwaSPLw5ee81nfXqoWTdsuSlfyfbXpz6uFu6vs0cOJn80J1mtJRTZ9CwNZcnt6yYuG3J/OSu6yffP0netTy5cen4+slXkoOem6GlhAYadnQkGTl/8fZT56Y+5v0rx1+cmSRPvjzzc8FMERpo2L5jnYcsu71wNPn+NKfC1gxNXP9x38zPBTPFNRpogU/8KnnuULL+imT/yeSBHcnwoan3X90VmleOJ4+724wWExpogdPnkq9sv7R9Fw92XqI5ZvhwcupszVwwE5w6gz6zeigZWjC+fvl4c7PApRAa6DNvv6JzS/SYf5xobBS4JEIDfWbZwonrAyebmQMuldBAn1nQc2XV9RnaTmigz1w2d+L6tNDQckIDfWaw51N7ZpKHPaFNhAb6zNmesPSGB9rGvyj0mdM9r6aZ72k4Wk5ooM/0Xvx/ndDQckIDfab3dube252hbYQG+szOA8lo1/rKRY2NApdEaKDPPHswOdT12zMrhIaWExroM8fOJM8fGV+vHkoWDTY3D7waoYEW6X0Ycyq7u35CYOnCZNOba+aBmSA00ALrliW//Wiy9zPJrnuSe9dPv//ugxPX77yqbjZ4rYQGGjZnIHnw9mTzWzoX9tctS7ZsTDZdO/UxP38uGel6nuZmoaHFhAYatuby5N3LJ25bPJjccd3Ux/zpn527z8ZsWJ5cvbhmPnithAYaduR0MjLJ+8pOnbt4W7ffd/1885LLkk+vm9m5YKYIDTRs37Hk0eGJ254/mjy8c/rjvrercwfamDtXTvxBNGgLL6+AFrjnN8nw4WT9G5P9J5IHdiR7jkx/zK4DyWMvJh9Y2VlvWJ586K3Jz4anPw7+1wayZXT01XcD2ugjq5Kf3Dl+W/Sv/57c8UizM0Evp86gjz3yt2Tr3vH1pmuTD69qbh6YjNBAn7t/R3L8wrWawTnJfTclc12soUWEBvrc1heSH/91fH3bNclXb25uHuglNDALfOnxzs0BY+5dn9ywtLl5oJvQwCxwdCS5b1uy/8Jv1Vy1KHloc7LQfaW0gNDALLF1b/K1P4y/mubWFcm339fsTJB4jgZmle88kxw+nbxhfmc9kM63mpNnpz0MSnmOBoBSTp0BUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaCU0ABQSmgAKCU0AJQSGgBKCQ0ApYQGgFJCA0ApoQGglNAAUEpoACglNACUEhoASgkNAKWEBoBSQgNAKaEBoJTQAFBKaAAoJTQAlBIaAEoJDQClhAaAUkIDQCmhAaDUfwABj+lAvLG2NwAAAABJRU5ErkJggg=="}]}}},"outputs":{},"description":"When an email arrives in Office 365 Outlook, check the email body content with the specified condition. If condition matched then post a message to Microsoft Teams with email body content."},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-9fcad2b7-3669-4e1e-b47d-6153-f9a61531","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-0cebe2f6-2445-44d0-aed8-6071-283e23b5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-a18b819c-447c-415b-a3a2-aab6-602b255d","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}